@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}
a { color: inherit; 
    text-decoration: none;}

nav{
    background-color: #7130CC;
    display: block;
    padding:50px 50px 100px 150px;
}
nav>.logoimg>img{
    height: 50px;
    float: left;
}
nav>.navbuttons{
    display: flex;
    float: right;
    color: white;
}
nav>.navbuttons ul{
    margin:15px 60px 0px 0px;
}
nav>.navbuttons ul:hover{
    /* color:blue; */
    cursor: pointer;
}
nav>.navbuttons >button{
    border-style: none;
    white-space: nowrap;
    /* word-wrap:break-word; */
    padding:15px 20px 15px 20px;
    margin-right: 150px;
    font-weight: 500;
    font-size: medium;
    text-transform: uppercase;
    background-color: #15BDEE;
    color: white;
}
nav>.navbuttons >button:hover{
    background-color: #fff;
    color: blue;
    transition: 250ms;
    cursor: pointer;
    
}
main>.section-one{
    background-color: #7130CC;
    display: flex;
    padding-bottom: 50px;

}
.section-one>.left{
flex:1;

margin:0px 0px 0px 150px;
}
 div.section-one > div.left > h1{
    font-size: 45px;
    color: white;
    margin-top:50px;
    margin-bottom: 50px;
 }
 div.section-one > div.left > p{
    font-size: 16px;
    color: white;
    font-weight: 400;


    /* margin-top:50px; */
    /* margin-bottom: 50px; */
 }
.section-one>.right>img{
    height: 600px;
    flex:1;
    object-fit: cover;
    object-position: 0px -50px;
}

.section-two{
    display: flex;
    padding-bottom: 30px;
}
.section-two>.left>img{
    height: 600px;
    margin-left:100px;

}
.section-two>.right>h2{
    font-weight: 700;

    margin:100px 150px 50px 150px;
    font-size:30px
}

.section-two>.right>.subheadding>img{
    height: 25px;
    margin-top: 10px;
    /* margin-left:100px; */
    /* padding: 200PX; */

}
.section-two>.right>.subheadding{
    display: flex;
    
    margin-left:160px;
    margin-bottom: 20px;
    font-size: 25px;
    
}
.section-two>.right>.subheadding>h3{
    font-weight: 600;

/* font-weight: 200; */
    /* margin:100px 150px 50px 150px; */
    font-size:30px;
}
.section-two>.right>p{
    margin-left: 180px;
    margin-bottom: 25px;
    margin-right: 50px;
}

body > main > h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;

    margin:20px 0px 40px 0px;
}

.cards{
    display: flex;
    margin:20px 100px 100px 100px;
}
.cards>.card-item{
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    /* display: flex; */
    margin:0px 30px 0px 30px;
    border-radius: 25px;   
    padding:10px 10px 20px 10px; 
}

.cards>.card-item>.circle{
    background-color: #FAEAEB;
    border-radius: 500px;
    margin:50px;    
    padding:40px;

}
.cards>.card-item>.circle>img{
    /* z-index: 1; */
    border: 1px;
    margin:auto;
    display: block;
    height: 50px;
    /* width: 20px; */
    
    
}

#blue{
    background-color: #E9F4F6;
}
#violet{
    padding:40px;
    background-color: #F2E8F5;
}
.cards>.card-item>h3, .bluebox>h3{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}
.cards>.card-item>p, .bluebox>p{
    text-align: center;
    margin:10px 20px 10px 20px;
    /* font-size: 30px; */
    /* font-weight: 500; */
}
.bluebox{
    
}

.card-item:hover {
    /* padding:5px 0px 5px 0px; */
    border-radius: 25px;
    color: white;
    /* height: 20px; */
    transition: 200ms;
    background-color: #6429B7;
}

/* time=2hrs */